{{! form to create address }}

<table>
<tr><td width='30%'><label for='address-name'><b>Name</b></label></td>
    <td width='70%'><input id='address-name' type='text' size='12'></td>
</tr>
<tr><td width='30%'><label for='address-line1'><b>Line 1</b></label></td>
    <td width='70%'><input id='address-line1' type='text' size='24'></td>
</tr>
<tr><td width='30%'><label for='address-line2'>Line 2</label></td>
    <td width='70%'><input id='address-line2' type='text' size='12'></td>
</tr>
<tr><td width='30%'><label for='address-city'><b>City</b></label></td>
    <td width='70%'><input id='address-city' type='text' size='12'></td>
</tr>
<tr><td width='30%'><label for='address-state'>State</label></td>
    <td width='70%'><input id='address-state' type='text' size='12'></td>
</tr>
<tr><td width='30%'><label for='address-pin'><b>PIN</b></label></td>
    <td width='70%'><input id='address-pin' type='text' size='12'></td>
</tr>
<tr><td width='30%'><label for='address-phone'>Phone</label></td>
    <td width='70%'><input id='address-phone' type='text' size='12'></td>
</tr>
<tr><td width='30%'><label for='address-direction'>Directions</label></td>
    <td width='70%'><textarea id='address-direction' rows='4' cols='40'
    placeholder='any director or landmark. Any other instruction...'>
</textarea>
</tr>
<table>

<p class='w3-small' style='font-weight:bold'><sup>*</sup>fields in bold must be filled</p>

<p id='error-message' class='w3-text-red w3-small'></p>
