{{! form to accept user credentails }}
{{! a table of one column with label and second column for input value }}

<div style='width:100%;overflow:hidden;padding-top:1em;padding-left:2em;padding-right:1em;'>
    <div class='w3-small w3-text-blue' style='width:70%;'>
        Login with username and password.
    </div>
    <div style='float:right;'>
        <object type="image/svg+xml" with="48px;" height="48px;" data='./images/logo.svg'></object>
    </div>
</div>    
<hr>
<table class='w3-padding'>
    <tr><td width='30%'><label for='user-name'>Name</label></td>
        <td width='70%'><input id='user-name' type='text' size='24'></td>
    </tr>
    <tr><td width='30%'><label for='user-password'>Password</label></td>
        <td width='70%'><input id='user-password' type='password' size='24' autocomplete = "new-password"></td>
    </tr>
</table>

{{! ----------------- error message block ---------------- }}
<div id='error' style='width=100%;overflow:hidden;padding-left:1em;'>
</div>
{{! ----------------------------------------------------- }}
