{{! template for a cart }}
{{! the header shows the order }}
{{! order, lineitems[], total }}

<div class='w3-bar'>
    <div id='order-id'  class='w3-bar-item w3-text-blue'>{{order}}</div>
    <div id='user-name' class='w3-bar-item w3-right w3-small'>{{user}}</div>
</div>
<div style="text-align:center;margin:auto">
<p class='material-icons' style="font-size:72pt;color:#999999">shopping_cart</p>
<p class='w3-text-grey'>Empty cart</p>

</div>
</div>