{{! template for a cart }}
{{! the header shows the order }}
{{! order, lineitems[], total }}

<div class='w3-bar'>
    <div id='order-id' class='w3-bar-item'>{{order}}</div>
</div>

<h1>Empty Cart</h1>
</div>