{{! date shown in a calendar }}

<div style='width:54px;height:64px;text-align:center;border:1px solid black;'>
    <p class="w3-red w3-tiny" style='padding: 0;margin:0'>
          <strong>{{month}}</strong>
    </p>
    <span style="font-size: 24pt;font-weight:bold;padding: 0.1em;">{{day}}</span>
</div>