<strong>Order</strong>: {{ bill.id }}<br>
<strong>Total</strong>: {{ bill.total }}
<p></p>
Deliver to:<br>
    {{ address.line1 }} <br>
    {{ address.line1 }} <br>
    {{ address.city }} {{address.pin}} <br>
    {{ address.phone }} <br>

Expected time of arrival: {{time}}