{{! error message }}
<div style='width=100%;overflow:hidden;padding-left:1em;'>
    <div style='float:left;padding:0;'>
    {{! material-icons are fonts! Hence their size is changed by font-zie }}
        <span class='material-icons' style='color:red;font-size:48pt;'>error</span>
    </div>
    <div style='margin-left:70px'>
        {{{ message }}}
    </div>
</div>