{{! form to accept user credentails }}
{{! a table of one column with label and second column for input value }}

<div style='width:100%;overflow:hidden;padding-top:1em'>
    <div class='w3-small w3-text-blue' style='width:70%;float:left'>
        Login with username and password. If not registered, please sign up.
    </div>
    <div style='float:right;padding-right:1em'>
        <image src='logo.png' width='24px' height='24px'>
    </div>
</div>    
<hr>
<table class='w3-padding'>
    <tr><td width='30%'><label for='user-name'>Name</label></td>
        <td width='70%'><input id='user-name' type='text' size='24'></td>
    </tr>
    <tr><td width='30%'><label for='user-password'>Password</label></td>
        <td width='70%'><input id='user-password' type='password' size='24' autocomplete = "new-password"></td>
    </tr>
</table>

<div style='margin-left:2em;'>
    <p>Not regsitered, no login id? <a id='signup' href='#'>Signup</p>
    <p><a id='forgot-username' href='forgotten.html'>Forgotten login id? </p>
    <p><a id='forgot-password' href='forgotten.html'>Forgotten password? </p>
    <p id='error_message' class='w3-text-red w3-small'></p>
</div>

<script type='module'>
    import User from './js/user.js'
    $('#signup').on('click', function() {
        console.log(`signup button insde login page was clicked`)
        $(this).closest('.ui-dialog-content').dialog('close')
        var user = User.instance()
        user.signup(function(newUser){
            console.log(`user signup has called back with ${JSON.stringify(newUser)}`)
            newUser.autologin()
        })
    }) 

</script>
