<div class='w3-panel w3-yellow' style='padding:0;margin:0;text-align:center'>
    <h3>Select order status</h3>
</div>
<div id='order-status-choices'>
{{#choices}}
    <input type='checkbox' id='{{id}}'  {{checked}}>
    <label for='{{id}}' style='padding-right:1em;'> {{label}} </label>
{{/choices}}
</div>