<div class='w3-panel w3-yellow' style='padding:0;margin:0;text-align:center'>
    <h3>Select by order total</h3>
</div>
<div id='order-total-choices'>

<table>
<tr>
    <td>minimum</td>
    <td><input id='minimum' type='number' min='0'  value='0'    size='8'></td>
    <td>maximum</td>
    <td><input id='maximum' type='number' min='500' value='500' size='8'></td>
</table>
</div>