{{! form to accept user credentails }}
{{! a table of one column with label and second column for input value }}

{{! ----------------- header block ---------------- }}
<div id='header' style='width=100%;overflow:hidden;padding-left:1em;' class='w3-hide'>
    <div style='float:left;padding:0;'>
        <image src='{{logo}}' width='48px' height='48px'>
    </div>
    <div id='message' style='margin-left:24px' class='w3-text-blue w3-small'>
        Please enter user name and password and, optionally, an email. 
    </div>
</div>
{{! ----------------------------------------------------- }}
<hr>
<table class='w3-padding'>
    <tr><td width='30%'><label for='user-name'>Name</label></td>
        <td width='70%'><input id='user-name' type='text' size='24'></td>
    </tr>
    <tr><td width='30%'><label for='user-password'>Password</label></td>
        <td width='70%'><input id='user-password' type='password' size='24' autocomplete = "new-password"></td>
    </tr>
    <tr><td width='30%'><label for='user-password-verify'>Password again</label></td>
        <td width='70%'><input id='user-password-verify' type='password' size='24'></td>
    </tr>
    <tr><td width='30%'><label for='user-email'>email</label></td>
        <td width='70%'><input id='user-email' type='email' size='24'></td>
    </tr>
</table>
<input type='checkbox' id='use-email-as-name'>
<label>use email as name</label>

{{! ----------------- error message block ---------------- }}
<div id='error' style='width=100%;overflow:hidden;padding-left:1em;padding-top:2em;' 
    class='w3-hide'>
    <div style='float:left;padding:0;'>
        <span class='material-icons' style='color:red;font-size:16pt;'>error</span>
    </div>
    <div id='message' style='margin-left:24px' class='w3-text-red'>
        {{! set at runtime }}
    </div>
</div>
{{! ----------------------------------------------------- }}