{{! warning message }}
<div style='width=100%;overflow:hidden;padding-left:1em;'>
    <div style='float:left;padding:0;'>
        <span class='material-icons' style='color:#FFCC00;font-size:48pt;'>warning</span>
    </div>

    <div style='margin-left:70px'>
        {{{ message }}}
    </div>
</div>
